---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Tecnologias from "../components/Tecnologias.astro";
import Proyectos from "../components/Proyectos.astro";
import ThemeToggleScript from "../components/ThemeToggleScript.astro";
import Certificados from "../components/certificados.astro";
---

<Layout title="Octavio Medina" description="Desarrollador y Diseñador Web">
  <ThemeToggleScript /> <!-- ✅ fuera del <main> -->

  <main class="px-2">
    <SectionContainer>
      <Hero />
      <slot />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <About />
    </SectionContainer>

    <SectionContainer id="tecnologias">
      <Tecnologias />
    </SectionContainer>

    <SectionContainer class="m-36" id="proyectos">
      <Proyectos />
    </SectionContainer>

    <SectionContainer id="certificados">
      <Certificados />
    </SectionContainer>

  </main>
</Layout>
