---
import Astro1 from "../icons/Astro1.astro";
import Html from "../icons/Html.astro";
import React from "../icons/React.astro";
import Vite from "../icons/Vite.astro";
import Css from "../icons/Css.astro";
import Python from "../icons/Python.astro";
import Tailwind from "../icons/Tailwind.astro";
import JavaScript from "../icons/JavaScript.astro";
import Node from "../icons/Node.astro";
---

<section class="py-16 bg-gradient-to-b  to-slate-950 text-white">
  <div class="relative w-full h-auto overflow-hidden mt-20">
    <h2 class="text-4xl font-bold mb-10 text-center">Tecnologias</h2>
    <div
      class="flex flex-wrap justify-center gap-x-8 gap-y-6 max-w-5xl mx-auto"
    >
      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <Html class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          HTML 5
        </p>
      </div>

      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <Css class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          CSS 3
        </p>
      </div>

      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <JavaScript class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          JavaScript
        </p>
      </div>

      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <Node class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          Node JS
        </p>
      </div>

      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <React class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          React
        </p>
      </div>

      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <Vite class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          Vite
        </p>
      </div>

      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <Astro1 class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          Astro
        </p>
      </div>

      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <Python class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          Python
        </p>
      </div>

      <div
        class="flex flex-col items-center hover:scale-105 transition-transform duration-300"
      >
        <Tailwind class="w-16 h-16 md:w-20 md:h-20" />
        <p class="text-sm md:text-base mt-2 text-gray-800 dark:text-white">
          Tailwind
        </p>
      </div>
    </div>
  </div>
</section>
