---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'; 

interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-min.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		


	</head>
	<body class="light relative">
		<div class="absolute top-0 z-[-2] h-full w-full bg-slate-950 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)] block"></div>


		<Header />

		

		<slot />
		<Footer />
	</body>
</html>

